@default-max-width: 980px;
@default-min-width: 727px;
@gutter: 4.4%;

#grid {
  .col () {
    .col-gutter();
    float: left;
    min-height: 1px;
    position: relative;
    &:first-child {
      .col-no-gutter();
    }
  }

  .col-gutter () {
    margin-left: @gutter;
  }

  .col-no-gutter () {
    margin-left: 0;
  }

  .row (@min-width: @default-min-width, @max-width: @default-max-width) {
    width: 100%;
    max-width: @max-width;
    min-width: @min-width;
    margin: 0 auto;
    overflow: auto;
  }

  .subrow () {
    min-width: 0;
  }

  .centered () {
    float: none;
    margin: 0 auto;
  }

  @one-col-width:     (100% - 11 * @gutter) / 12;
  @two-col-width:     @one-col-width * 2 + @gutter;
  @three-col-width:   @one-col-width * 3 + @gutter * 2;
  @four-col-width:    @one-col-width * 4 + @gutter * 3;
  @five-col-width:    @one-col-width * 5 + @gutter * 4;
  @six-col-width:     @one-col-width * 6 + @gutter * 5;
  @seven-col-width:   @one-col-width * 7 + @gutter * 6;
  @eight-col-width:   @one-col-width * 8 + @gutter * 7;
  @nine-col-width:    @one-col-width * 9 + @gutter * 8;
  @ten-col-width:     @one-col-width * 10 + @gutter * 9;
  @eleven-col-width:  @one-col-width * 11 + @gutter * 10;
  @twelve-col-width:  @one-col-width * 12 + @gutter * 11;

  .one-col-width ()     { width: @one-col-width; }
  .two-col-width ()     { width: @two-col-width;  }
  .three-col-width ()   { width: @three-col-width; }
  .four-col-width ()    { width: @four-col-width; }
  .five-col-width ()    { width: @five-col-width; }
  .six-col-width ()     { width: @six-col-width; }
  .seven-col-width ()   { width: @seven-col-width;  }
  .eight-col-width ()   { width: @eight-col-width; }
  .nine-col-width ()    { width: @nine-col-width; }
  .ten-col-width ()     { width: @ten-col-width; }
  .eleven-col-width ()  { width: @eleven-col-width; }
  .twelve-col-width ()  { width: @twelve-col-width; }

  .one-col ()     { .col(); .one-col-width(); }
  .two-col ()     { .col(); .two-col-width();  }
  .three-col ()   { .col(); .three-col-width(); }
  .four-col ()    { .col(); .four-col-width(); }
  .five-col ()    { .col(); .five-col-width(); }
  .six-col ()     { .col(); .six-col-width(); }
  .seven-col ()   { .col(); .seven-col-width();  }
  .eight-col ()   { .col(); .eight-col-width(); }
  .nine-col ()    { .col(); .nine-col-width(); }
  .ten-col ()     { .col(); .ten-col-width(); }
  .eleven-col ()  { .col(); .eleven-col-width(); }
  .twelve-col ()  { .col(); .twelve-col-width(); }

  .offset-by-one () {
    margin-left: @one-col-width + @gutter * 2;
    &:first-child { margin-left: @one-col-width + @gutter; }
  }

  .offset-by-two () {
    margin-left: (@one-col-width + @gutter) * 2 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 2; }
  }

  .offset-by-three () {
    margin-left: (@one-col-width + @gutter) * 3 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 3; }
  }

  .offset-by-four () {
    margin-left: (@one-col-width + @gutter) * 4 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 4; }
  }

  .offset-by-five () {
    margin-left: (@one-col-width + @gutter) * 5 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 5; }
  }

  .offset-by-six () {
    margin-left: (@one-col-width + @gutter) * 6 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 6; }
  }

  .offset-by-seven () {
    margin-left: (@one-col-width + @gutter) * 7 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 7; }
  }

  .offset-by-eight () {
    margin-left: (@one-col-width + @gutter) * 8 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 8; }
  }

  .offset-by-nine () {
    margin-left: (@one-col-width + @gutter) * 9 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 9; }
  }

  .offset-by-ten () {
    margin-left: (@one-col-width + @gutter) * 10 + @gutter;
    &:first-child { margin-left: (@one-col-width + @gutter) * 10; }
  }

  .offset-by-eleven () {
    &:first-child { margin-left: (@one-col-width + @gutter) * 11; }
  }

  .push-one ()    { left: @one-col-width + @gutter; }
  .push-two ()    { left: (@one-col-width + @gutter) * 2; }
  .push-three ()  { left: (@one-col-width + @gutter) * 3; }
  .push-four ()   { left: (@one-col-width + @gutter) * 4; }
  .push-five ()	  { left: (@one-col-width + @gutter) * 5; }
  .push-six ()	  { left: (@one-col-width + @gutter) * 6; }
  .push-seven ()  { left: (@one-col-width + @gutter) * 7; }
  .push-eight ()  { left: (@one-col-width + @gutter) * 8; }
  .push-nine ()   { left: (@one-col-width + @gutter) * 9; }
  .push-ten ()    { left: (@one-col-width + @gutter) * 10; }
  .push-eleven () { left: (@one-col-width + @gutter) * 11; }
  .push-n (@n) when (isnumber(@n)) {
    left: (@one-col-width + @gutter) * @n;
  }

  .pull-one ()    { right: @one-col-width + @gutter; }
  .pull-two ()    { right: (@one-col-width + @gutter) * 2; }
  .pull-three ()  { right: (@one-col-width + @gutter) * 3; }
  .pull-four ()   { right: (@one-col-width + @gutter) * 4; }
  .pull-five ()	  { right: (@one-col-width + @gutter) * 5; }
  .pull-six ()	  { right: (@one-col-width + @gutter) * 6; }
  .pull-seven ()  { right: (@one-col-width + @gutter) * 7; }
  .pull-eight ()  { right: (@one-col-width + @gutter) * 8; }
  .pull-nine ()   { right: (@one-col-width + @gutter) * 9; }
  .pull-ten ()    { right: (@one-col-width + @gutter) * 10; }
  .pull-eleven () { right: (@one-col-width + @gutter) * 11; }
  .pull-n (@n) when (isnumber(@n)) {
    right: (@one-col-width + @gutter) * @n;
  }
}
