@default-max-width: 980px;
@default-min-width: 727px;
@gutter: 4.4%;

#grid {
  .col () {
    margin-left: @gutter;
    float: left;
    min-height: 1px;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
  }

	.row (@min-width: @default-min-width, @max-width: @default-max-width) {
	  width: 100%;
    max-width: @max-width;
    min-width: @min-width;
    margin: 0 auto;
    overflow: auto;
  }

  .subrow () {
    min-width: 0;
  }

  .centered () {
    float: none;
    margin: 0 auto;
  }

  @one-col-width:     (100% - 11 * @gutter) / 12;
  @two-col-width:     @one-col-width * 2 + @gutter;
  @three-col-width:   @one-col-width * 3 + @gutter * 2;
  @four-col-width:    @one-col-width * 4 + @gutter * 3;
  @five-col-width:    @one-col-width * 5 + @gutter * 4;
  @six-col-width:     @one-col-width * 6 + @gutter * 5;
  @seven-col-width:   @one-col-width * 7 + @gutter * 6;
  @eight-col-width:   @one-col-width * 8 + @gutter * 7;
  @nine-col-width:    @one-col-width * 9 + @gutter * 8;
  @ten-col-width:     @one-col-width * 10 + @gutter * 9;
  @eleven-col-width:  @one-col-width * 11 + @gutter * 10;
  @twelve-col-width:  @one-col-width * 12 + @gutter * 11;

  .one-col-width ()     { width: @one-col-width; }
  .two-col-width ()     { width: @two-col-width;  }
  .three-col-width ()   { width: @three-col-width; }
  .four-col-width ()    { width: @four-col-width; }
  .five-col-width ()    { width: @five-col-width; }
  .six-col-width ()     { width: @six-col-width; }
  .seven-col-width ()   { width: @seven-col-width;  }
  .eight-col-width ()   { width: @eight-col-width; }
  .nine-col-width ()    { width: @nine-col-width; }
  .ten-col-width ()     { width: @ten-col-width; }
  .eleven-col-width ()  { width: @eleven-col-width; }
  .twelve-col-width ()  { width: @twelve-col-width; }

  .one-col ()     { .col(); .one-col-width(); }
  .two-col ()     { .col(); .two-col-width();  }
  .three-col ()   { .col(); .three-col-width(); }
  .four-col ()    { .col(); .four-col-width(); }
  .five-col ()    { .col(); .five-col-width(); }
  .six-col ()     { .col(); .six-col-width(); }
  .seven-col ()   { .col(); .seven-col-width();  }
  .eight-col ()   { .col(); .eight-col-width(); }
  .nine-col ()    { .col(); .nine-col-width(); }
  .ten-col ()     { .col(); .ten-col-width(); }
  .eleven-col ()  { .col(); .eleven-col-width(); }
  .twelve-col ()  { .col(); .twelve-col-width(); }
  
  // @TODO: translate percentages back for the rest
  .offset-by-one () {
    margin-left: 13.1%;
    &:first-child {
      margin-left: 8.7%;
    }
  }

  .offset-by-two () {
    margin-left: 21.8%;
    &:first-child {
      margin-left: 17.4%;
    }
  }

  .offset-by-three () {
    margin-left: 30.5%;
    &:first-child {
      margin-left: 26.1%;
    }
  }

  .offset-by-four () {
    margin-left: 39.2%;
    &:first-child {
      margin-left: 34.8%;
    }
  }

  .offset-by-five () {
    margin-left: 47.9%;
    &:first-child {
      margin-left: 43.5%;
    }
  }

  .offset-by-six () {
    margin-left: 56.6%;
    &:first-child {
      margin-left: 52.2%;
    }
  }

  .offset-by-seven () {
    margin-left: 65.3%;
    &:first-child {
      margin-left: 60.9%;
    }
  }

  .offset-by-eight () {
    margin-left: 74.0%;
    &:first-child {
      margin-left: 69.6%;
    }
  }

  .offset-by-nine () {
    margin-left: 82.7%;
    &:first-child {
      margin-left: 78.3%;
    }
  }

  .offset-by-ten () {
    margin-left: 91.4%;
    &:first-child {
      margin-left: 87%;
    }
  }

  .offset-by-eleven () {
    &:first-child {
      margin-left: 95.7%;
    }
  }

  .push-two ()   { left: 2 * (@one-col-width + @gutter); }
 	.push-three () { left: 3 * (@one-col-width + @gutter); }
 	.push-four ()  { left: 4 * (@one-col-width + @gutter); }
 	.push-five ()	 { left: 5 * (@one-col-width + @gutter); }
 	.push-six ()	 { left: 6 * (@one-col-width + @gutter); }
 	.push-seven () { left: 7 * (@one-col-width + @gutter); }
 	.push-eight () { left: 8 * (@one-col-width + @gutter); }
 	.push-nine ()  { left: 9 * (@one-col-width + @gutter); }
 	.push-ten ()   { left: 10 * (@one-col-width + @gutter); }

  .pull-two ()   { right: 2 * (@one-col-width + @gutter); }
 	.pull-three () { right: 3 * (@one-col-width + @gutter); }
 	.pull-four ()  { right: 4 * (@one-col-width + @gutter); }
 	.pull-five ()	 { right: 5 * (@one-col-width + @gutter); }
 	.pull-six ()	 { right: 6 * (@one-col-width + @gutter); }
 	.pull-seven () { right: 7 * (@one-col-width + @gutter); }
 	.pull-eight () { right: 8 * (@one-col-width + @gutter); }
 	.pull-nine ()  { right: 9 * (@one-col-width + @gutter); }
 	.pull-ten ()   { right: 10 * (@one-col-width + @gutter); }
}
