// The styles for making the demo somewhat decorative. We don't have a complete
// style at the moment, so let's just make it sane after the reset.

// some pretty colors, stolen from the solarized theme ;) (http://ethanschoonover.com/solarized)
@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;


body {
  font-size: 16px;
}

header, footer {
    #grid.row();
    margin-top: 15px;
}

a {
    color: @blue;
    text-decoration: none;
}

a:hover {
    color: @cyan;
    text-decoration: underline;
}

a:checked {
    color: @red;
    text-decoration: none;
}

h1 {
    color: @blue;
    font-family: "Helvetica Neue", "Proxima", sans-serif;
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 9px;
}

h2  {
    color: @base03;
    font-family: "Helvetica Neue", "Proxima", sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 9px 0;
}

h6 {
    color: @base03;
    font-family: "Helvetica Neue", "Proxima", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 9px 0;
    text-align: center;
}

p {
    font-family: "Helvetica Neue", "Proxima", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
}

.sub-title, .script {
    #grid.row();
    padding: 10px 0;
}

.text {
    #grid.row();
    padding: 10px 0 5px 0;
}
// decorations for non-semantic demo
// @todo: maybe move to attach.less?
.columns {
    background-color: @base2;
    .rounded-corners(3px);
    p {
        margin: 0.5em;
        padding: 0.5em;
        color: @base3;
        background-color: @blue;
        overflow: hidden;
        .rounded-corners(3px);
    }
}
